@font-face {
  font-family: 'ComicNeue';
  src:  url('../static/fonts/ComicNeue-Regular.woff') format('woff'),
        url('../static/fonts/ComicNeue-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ComicNeue';
  src:  url('../static/fonts/ComicNeue-Bold.woff') format('woff'),
        url('../static/fonts/ComicNeue-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
