$color-black: #000000;
$white: rgb(245, 245, 245);
$white-opacity: rgba(245, 245, 245, .5);
$gray: rgb(205, 205, 205);
$purple: rgb(183, 31, 207);
$green: rgb(0, 218, 0);
$yellow: rgb(199, 219, 64);

$green-opacity: rgba(0, 218, 0, .3);


$green-gradient: linear-gradient(to bottom right, rgb(99, 255, 143), rgb(100, 251, 143), rgb(100, 246, 143), rgb(101, 242, 143), rgb(102, 238, 143), rgb(102, 233, 143), rgb(103, 229, 143), rgb(103, 224, 143), rgb(104, 220, 143), rgb(105, 216, 143), rgb(105, 211, 143), rgb(106, 207, 143));
$yellow-gradient: linear-gradient(to bottom right, rgb(255, 224, 99), rgb(241, 222, 103), rgb(228, 221, 107), rgb(214, 219, 111), rgb(201, 218, 115), rgb(187, 216, 119), rgb(174, 215, 123), rgb(160, 213, 127), rgb(147, 212, 131), rgb(133, 210, 135), rgb(120, 209, 139), rgb(106, 207, 143));