.button {
  display: none;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  border: none;
  background-image: $yellow-gradient;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s ease;

  &--play {
    width: 30%;
    background-image: $yellow-gradient;

    &:hover {
      box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    }

    @media screen and (max-width: 1200px) {
      width: 100%;
    }
  }

  &--repeat {
    width: 60px;
    height: 60px;
    background-color: $green;
    background-image: url(../static/img/replay.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    outline: none;

    &:hover {
      transform: rotate(90deg);
    }
  }

  &--main {
    display: block;
    padding: 0 40px;
  }
}